@keyframes pop-in {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
  font-weight: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wave {
  user-select: none;
  font-size: 120px;
  width: 130px;
  height: 130px;
  transform-origin: 80% 100%;
  transform: scale(0) rotate(20deg);
}

.no-js .wave {
  transform: scale(1);
}

h3 {
  font-weight: 100;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}

.experience h4 {
  font-weight: 400;
  margin-bottom: 5px;
}
